<!DOCTYPE html>
<html lang="en">
<body>
{% extends 'sensorsdb/base.html' %}
{% block body %}
<div class="container py-1">
    <div class="row">
        <div class="col-lg-12 mx-auto">
            <div class="card rounded-0 border-0 shadow">
                <div class="card-body p-5">
                <head>
                    <meta charset="UTF-8">
                    <title>Graph</title>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                </head>
                <body>
                    <canvas id="chart"></canvas>
                    <script>
                    var ctx = document.getElementById("chart").getContext("2d");
                    var data = {{ data|safe }};
                    var time = {{ time|safe }};
                    var date = time.map(function(elem) {
                        return new Date(elem);
                    });
                    var chart = new Chart(ctx, {
                        type: "line",
                        data: {
                        labels: date,
                        datasets: [{
                            label: "Line Chart",
                            data: data,
                            backgroundColor: "rgba(153,255,51,0.4)"
                        }]
                        },
                        options: {
                        scales: {
                            xAxes: [{
                                type: 'time',
                                time: {
                                    parser: function(time) {
                                        return moment(time, 'YYYY-MM-DD HH:mm:ss').toDate();
                                    },
                                    unit: 'day',
                                    displayFormats: {
                                        day: 'MMM DD'
                                    }
                                }
                            }]
                        }
                        }
                    });
                    </script>
                <br><br>
                <div class="d-flex justify-content-center links">
                    <a href="{% url 'sensorsdb:device_info' %}" class="ml-2">Make another query</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
</body>
</html>